**'f5'컬럼을 표준화하고 그 중앙값을 구하라**

In [2]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head(2)

     id  age city    f1  f2   f3    f4         f5
0  id01  2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02  9.0   서울  70.0   1  NaN  ENFJ  60.339826

In [3]:
# 표준화
from sklearn.preprocessing import StandardScaler

# 표준화 모듈 선언
scaler = StandardScaler()

# 표준화 모델 학습 및 변환
df['f5'] = scaler.fit_transform(df[['f5']])

In [4]:
# 중앙값 출력
print(df['f5'].median())

0.260619629559015

---

**sklean 라이브러리에서 preprocessing 안에 있는 StanderScaler 모델**  
**fit_transform 함수의 값으로는 df[['target']]으로 사용**

---