**20세 이상인 데이터를 추출하고 'f1'컬럼을 결측치를 최빈값으로 채운 후, f1 컬럼의 여-존슨과 박스콕스 변환 값을 구하고, 두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)**

In [27]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np
from sklearn.preprocessing import power_transform

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head(5)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [28]:
# 20세 이상의 데이터 추출
df = df[df['age'] >= 20]

In [29]:
# f1 컬럼의 최빈값 확인
df['f1'].value_counts()

50.0     5
75.0     4
60.0     4
57.0     3
85.0     3
88.0     2
78.0     2
55.0     2
77.0     2
44.0     2
53.0     2
62.0     2
31.0     1
86.0     1
12.0     1
96.0     1
47.0     1
98.0     1
66.0     1
84.0     1
43.0     1
45.0     1
52.0     1
61.0     1
63.0     1
82.0     1
48.0     1
94.0     1
64.0     1
34.0     1
87.0     1
67.0     1
68.0     1
74.0     1
101.0    1
58.0     1
Name: f1, dtype: int64

In [30]:
# 결측치를 대체
df['f1'] = df['f1'].fillna(50.0)

In [31]:
from sklearn.preprocessing import power_transform

# f1 데이터의 여-존슨 값 구하기
df['y'] = power_transform(df[['f1']], standardize=False) # method 디폴트 값은 여-존슨’yeo-johnson’

# 'f1'데이터 박스-콕스 box-cox 값 구하기
df['b'] = power_transform(df[['f1']], method='box-cox', standardize=False)
df.head()

     id   age city    f1  f2   f3    f4         f5          y          b
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986  20.583423  21.067090
3  id04  75.0   서울  50.0   2  NaN  INFP  52.667078  17.968081  18.305263
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869  25.773745  26.557680
5  id06  22.0   서울  57.0   0  vip  INTP  20.129444  19.653167  20.084373
6  id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378  20.352915  20.823545

In [32]:
# 두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)
round(sum(np.abs(df['y'] - df['b'])),2)

39.17

---

**value_counts 함수와 sklearn 라이브러리 prerpocessing 중 power_transform 함수**

---