**주어진 데이터에서 상관관계를 구하고, quality와의 상관관계가 가장 큰 값과, 가장 작은 값을 구한 다음 더하라. 단, quality와 quality 상관관계 제외, 소수점 둘째 자리까지 출력**

In [3]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

# 데이터 불러오기
df = pd.read_csv('../input/red-wine-quality-cortez-et-al-2009/winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [21]:
# 상관관계 구하기
df_corr = df.corr()
abs(df_corr['quality']).sort_values()

residual sugar          0.013732
free sulfur dioxide     0.050656
pH                      0.057731
fixed acidity           0.124052
chlorides               0.128907
density                 0.174919
total sulfur dioxide    0.185100
citric acid             0.226373
sulphates               0.251397
volatile acidity        0.390558
alcohol                 0.476166
quality                 1.000000
Name: quality, dtype: float64

In [19]:
df_corr_quality = abs(df_corr['quality']).sort_values()

In [22]:
print(round(df_corr_quality[:-1].max() + df_corr_quality[:-1].min(), 2))

0.49

---

**corr 함수**  
**상관관계의 크기 유무는 절대값으로 계산해야한다**

---