**주어진 데이터 셋에서 f2가 0값인 데이터를 age를 기준으로 오름차순 정렬하고 앞에서 부터 20개의 데이터를 추출한 후 f1 결측치(최소값)를 채우기 전과 후의 분산 차이를 계산하라 (소수점 둘째 자리까지)**

In [19]:
import pandas as pd

# 데이터 불러오기
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [20]:
# 제시한 조건에 맞춰 데이터프레임 수정
df = df[df['f2'] == 0]
df = df.sort_values('age')[:20]

In [21]:
# 결측치 처리 전 분산 차이 계산
var_01 = df['f1'].var()

In [22]:
# 결측치 처리 후 분산 차이 계산
df['f1'] = df['f1'].fillna(df['f1'].min())

var_02 = df['f1'].var()

In [23]:
print(round(var_01 - var_02, 2))

38.44

---

**var 함수**

---