**주어진 데이터에서 2022년 월별 Sales 합계 중 가장 큰 금액과 2023년 월별 Sales 합계 중 가장 큰 금액의 차이를 절대값으로 구하라. 단 Events컬럼이 '1'인경우 80%의 Salse값만 반영한다. (최종값은 소수점 반올림 후 정수 출력)**

In [32]:
# 라이브러리 불러오기
import pandas as pd

# 데이터 불러오기 (datatime컬럼 지정)
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv", 
                parse_dates=['Date'])

In [33]:
# 날짜별 컬럼 생성
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day

In [34]:
# Event 값에 따른 Sales 값 변환
def event_sales(x) :
    if x['Events'] == 1:
        x['Sales2'] = x['Sales'] * 0.8
    else :
        x['Sales2'] = x['Sales']
    return x

In [35]:
# Sales 적용된 값을 반환
df = df.apply(lambda x: event_sales(x), axis=1)
df.head()

        Date     Sales      PV      UV  Events  year  month  day      Sales2
0 2022-01-01  22711525  397349  4421.0       1  2022      1    1  18169220.0
1 2022-01-02     36779    3969  2289.0       0  2022      1    2     36779.0
2 2022-01-03  13943875  373890     NaN       1  2022      1    3  11155100.0
3 2022-01-04   8088593  142054  2157.0       0  2022      1    4   8088593.0
4 2022-01-05   2395374  190684     NaN       0  2022      1    5   2395374.0

In [36]:
# 2022년 월별 Sales 합계 값 중 큰 값
df_2022 = df[df['year'] == 2022]
df_2022_max = df_2022.groupby('month')['Sales2'].sum().max()

In [38]:
# 2023년 월별 Sales 합계 값 중 큰 값
df_2023 = df[df['year'] == 2023]
df_2023_max = df_2023.groupby('month')['Sales2'].sum().max()

In [39]:
df_2022_max, df_2023_max

(197145878.0, 239619313.8)

In [41]:
print(int(round(abs(df_2022_max - df_2023_max), 0)))

42473436

---

**apply 함수와 lambda, groupby 함수**

---